Semana 01/Estruturas Sequenciais/.idea/
Semana 01/Estruturas Sequenciais/venv/
/Semana 01/02 - Estruturas de Decisão/.idea
/Semana 01/02 - Estruturas de Decisão/venv
/Semana 01/03 - Estruturas de Repetição/.idea
/Semana 01/03 - Estruturas de Repetição/venv
/Semana 01/04 - Listas/.idea
/Semana 01/04 - Listas/venv
